@import "tailwindcss";

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

.costomizecostomizeContainer {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #111;
  color: white;
}

#tasklist::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1200px) {
  .costomizeContainer {
    max-width: 1000px !important;
  }
}

@media (max-width: 992px) {
  .costomizeContainer {
    max-width: 920px !important;
  }
}

@media (max-width: 576px) {
  .costomizeContainer {
    max-width: 100% !important;
  }
}